<!DOCTYPE html> 
<html>
	<head>
		<title>Experiment</title>

        <link rel="stylesheet" type="text/css"  href="../css/DemoPage.css" />
        <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <script src="../js/ArrowPositionCalculator.js"></script>
        <script>

            var arrow = undefined;
            var arrowPositionCalculator = undefined;
            var spinning = true;

            function init() {
                arrow = $('#arrow');
                arrowPositionCalculator = new ArrowPositionCalculator();
            }


            var main = function() {
                if (spinning) {
                    arrowPositionCalculator.updatePosition();
                    var newPos = arrowPositionCalculator.getPosition() + "%";
                    arrow.css('left', newPos);
                }
            }

            function whiteSpaceHandler(e) {
                if (e.keyCode === 32) {
                    spinning = !spinning;
                }
            }

            jQuery(document).ready(function($) {
                var delayMilli = 30;


                $('.lightbox_trigger').click(function(e) {
                    e.preventDefault();

                    if ($('#lightbox').length > 0) {
                        $('#lightbox').show();
                    }
                });

                //Click anywhere on the page to get rid of lightbox window
                $('#lightbox').live('click', function() { //must use live, as the lightbox element is inserted into the DOM
                    $('#lightbox').hide();
                });

                $(document).keydown(whiteSpaceHandler);

                $('#lightbox').hide();
                // initialize, this is needed before the main loop
                init();
                // Start the main loop
                setInterval(main, delayMilli);
            });
        </script>

	</head>
    <body>
        <div id="wrapper">
            <h1>Holiday2013</h1>
            <p>
                Holiday party app made for <a href="https://www.facebook.com/events/574434642631442/?ref_dashboard_filter=upcoming">Holiday party 2013</a>.
                The theme this year is poke mon trainer fighting gift monsters to capture them.
                Party attenders form teams and battle with monsters.
                This app has a small player/monster database set up and implements a battle system with a spell system involved.
            </p>
            <ul>
                <li>
                    <a href="/fightMonster?m1=FireCaster&p1=Richard&p2=Jenny&p3=Tim&p4=Vicki&p5=Andy">Demo monster fight</a>
                </li>
                <li>
                    <a href="/enterTeams">Starting point to arrange a fight during party</a>
                </li>
                <li>
                    <a href="/insertPlayer">[Admin Tool] Enter Player</a>
                </li>
                <li>
                    <a href="/insertMonster">[Admin Tool] Enter Monster</a>
                </li>
                <li>
                    <a href="/loadPlayerByNameForUpdate">[Admin Tool] Update Player Data</a>
                </li>
                <li>
                    <a href="/deletePlayer">[Admin Tool] Delete Player or Monster</a>
                </li>
                <li>
                    <a href="/listAll">[Admin Tool] Quick View on Player/Monster Data</a>
                </li>
                <li>
                    <a class="lightbox_trigger">Spin Bar demo</a>
                </li>
            </ul>
        </div>

        <div id="lightbox">
            <div id="content">
                <div class="meterenclosing">
                   <img class="meter" src="../resource/meter_base.jpg" />
                </div>
                <div class="arrowenclosing">
                    <img id="arrow" class="arrow" src="../resource/up_arrow.png" />
                </div>
            </div>
        </div>
    </body>
</html>

