<!DOCTYPE html>
<html>
    <head>
        <title>Team Select</title>
        <link rel="stylesheet" type="text/css" href="../css/enterTeams.css" />
    </head>
<body>
    <form action="battleSplash" method="GET">
        <div class="monsterContainer">
            <div class="categoryTitle">
                <h1>Monster</h1>
            </div>
            <div class="roster">
                    <input name="m1" type="text" placeholder="Enter monster ..."/>
            </div>
        </div>

        <div class="playersContainer">
            <div class="categoryTitle">
                <h1>Player</h1>
            </div>
            <div class="roster">
                <input name="p1" type="text" placeholder="Enter player ..."/>
                <input name="p2" type="text" placeholder="Enter player ..."/>
                <input name="p3" type="text" placeholder="Enter player ..."/>
                <input name="p4" type="text" placeholder="Enter player ..."/>
                <input name="p5" type="text" placeholder="Enter player ..."/>
            </div>
        </div>

        <div class="startBattleButton">
            <div class="beginButton">
                <input type="submit" value="Gotta Catch it!"/>
            </div>
        </div>
    </form>
</body>
</html>