<!DOCTYPE html>
<html>
<head>
    <title>Insert Monster</title>
</head>
<body>
    <form action="insertActor" method="post">
        Monster Name: <input type="text" name="playerName"><br />
        Monster Pic link: <input type="text" name="playerPicLink"><br />
        Level: <input type="text" name="level"><br />
        Base Power: <input type="text" name="pow"><br />
        Base HP: <input type="text" name="hp"><br />
        Base Agility: <input type="text" name="agi"><br />
        Bonus Power: <input type="text" name="bpow"><br />
        Bonus HP: <input type="text" name="bhp"><br />
        Bonus Agility: <input type="text" name="bagi"><br />
        Monster Type: (R, B, Y, G, L) <input type="text" name="monsterType"><br />
        SA1: <input type="text" name="sa1"><br />
        SA2: <input type="text" name="sa2"><br />
        SA3: <input type="text" name="sa3"><br />
        <input type="hidden" name="actorType" value="m">
        <input type="submit" value="Submit">
    </form>
</body>
</html>