<!DOCTYPE html>
<html>
<head>
    <title>Insert Player</title>
</head>
<body>
    <form action="insertActor" method="post">
        Player Name: <input type="text" name="playerName"><br />
        Player Pic link: <input type="text" name="playerPicLink"><br />
        Level: <input type="text" name="level"><br />
        Base Power: <input type="text" name="pow"><br />
        Base HP: <input type="text" name="hp"><br />
        Base Agility: <input type="text" name="agi"><br />
        Bonus Power: <input type="text" name="bpow"><br />
        Bonus HP: <input type="text" name="bhp"><br />
        Bonus Agility: <input type="text" name="bagi"><br />
        Bonus% Red: <input type="text" name="bR"><br />
        Bonus% Blue: <input type="text" name="bB"><br />
        Bonus% Yellow: <input type="text" name="bY"><br />
        Bonus% Green: <input type="text" name="bG"><br />
        Bonus% Legacy: <input type="text" name="bL"><br />
        SA1: <input type="text" name="sa1"><br />
        SA2: <input type="text" name="sa2"><br />
        SA3: <input type="text" name="sa3"><br />
        <input type="hidden" name="actorType" value="p">
        <input type="submit" value="Submit">
    </form>
</body>
</html>